fastTracker/
backend/credentials/
Towaha.txt

towaha_aws_steps.md


# Ignore .env files at the root and inside frontend folder
.env
frontend/.env

# Other common ignores
frontend/node_modules/
frontend/dist/
build/
*.log

backend/.myenv
backend/myenv